<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% block styles %}{% endblock %}
  </head>
  <body>
    <h1>Welcome tosdasdawdawd</h1>


    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
     <p>Lady Gaga (sinh ngày 28 tháng 3 năm 1986) là một nữ ca sĩ, nhạc sĩ kiêm diễn viên người Mỹ. Cô nổi danh thông qua việc đổi mới hình tượng bản thân và linh hoạt giữa ca hát và diễn xuất trong ngành công nghiệp giải trí. Gaga đã bắt đầu biểu diễn từ khi còn là một thiếu niên, đi hát tại các đêm nhạc open mic và tham gia diễn xuất trong các vở kịch ở trường. Cô theo học tại học viện Collaborative Arts Project 21, trực thuộc Trường Nghệ thuật Tisch của Đại học New York, trước khi bỏ học để theo đuổi sự nghiệp âm nhạc. Sau khi Def Jam Recordings hủy bỏ hợp đồng với Gaga, cô trở thành nhạc sĩ cho Sony/ATV Music Publishing và tại đây cô ký kết một thỏa thuận chung với Interscope Records và KonLive Distribution vào năm 2007. Gaga có bước đột phá vang dội vào năm tiếp theo với album phòng thu đầu tay, The Fame, cùng những đĩa đơn đứng đầu bảng xếp hạng như "Just Dance" và "Poker Face". [ Đọc tiếp ]

Mới chọn: Tượng Nữ thần Tự do · Vụ ám sát John F. Kennedy · Hành tinh

Lưu trữ
Thêm bài viết chọn lọc
Ứng cử viên
Bài viết tốt
Tem Ấn phẩm Hiệp ước Nam Cực
Ấn phẩm Hiệp ước Nam Cực là một loại tem bưu chính được Bộ Bưu điện Hoa Kỳ phát hành vào ngày 23 tháng 6 năm 1971. Ấn phẩm do Howard Koslow thiết kế nhân dịp kỷ niệm mười năm ký kết Hiệp ước Nam Cực. Đáng chú ý hơn, đây là sản phẩm đầu tiên của Koslow khi ông bước vào lĩnh vực thiết kế tem bưu chính. Con tem có mệnh giá tám xu (8 cent). Tổng cộng có 130 triệu con tem được phát hành. Việc phát hành Ấn phẩm Hiệp ước Nam Cực được thông báo trên truyền thông vào tháng 5 năm 1971. Ngày 23 tháng 6 năm 1971, nhân dịp kỷ niệm lần thứ 10 (mười năm) ngày Hiệp ước Nam Cực có hiệu lực, loại tem này chính thức phát hành. Ấn phẩm Hiệp ước Nam Cực được phát hành chính thức thông qua một buổi lễ giới thiệu tại thủ đô Washington, DC, Hoa Kỳ. [ Đọc tiếp ]

Mới chọn: Quỹ đạo địa đồng bộ · "Mùa xuân nhớ Bác" · Bia ở Bắc Triều Tiên

Lưu trữ
Thêm bài viết tốt
Ứng cử viên
Danh sách chọn lọc

Key là một hãng phát triển trò chơi điện tử visual novel đặt trụ sở tại Nhật Bản và là một trong số nhiều thương hiệu của nhà phát hành Visual Art's. Trò chơi điện tử phát triển bởi Key bước đầu sẽ được Visual Art's sản xuất và phát hành đầu tiên dành cho hệ điều hành Microsoft Windows của hệ máy tính cá nhân (PC); các phiên bản console sau này được phát hành bởi Interchannel và Prototype. Chưa từng có sản phẩm nào của Key được phát hành ra ngoài Nhật Bản. Key phát hành tựa game đầu tay của họ là Kanon vào năm 1999, và kế đến là AIR vào năm 2000. Cả Kanon và AIR ban đầu được phát hành như một trò chơi dành cho người lớn ("eroge"), nhưng khi trò chơi thứ ba của họ là CLANNAD ra mắt năm 2004, nó đã được đánh giá là thích hợp với mọi lứa tuổi. [ Đọc tiếp ]

Mới chọn: Đĩa đơn quán quân Hot 100 năm 2011 (Mỹ) · Loài họ Chồn · Người đoạt giải Nobel Sinh lý học hoặc Y học

Lưu trữ
Thêm danh sách chọn lọc
Ứng cử viên
Hình ảnh chọn lọc
Cực quang được chụp bằng máy ảnh Canon phía trên nhà thờ Víkurkirkja ở Vík í Mýrdal, Iceland vào một đêm quang đãng. Tác giả: AstroAnthony
Lưu trữ
Thêm hình ảnh chọn lọc
Cập nhật
Bạn có biết
Chè khúc bạch
…chè khúc bạch có nguồn gốc từ đậu hũ hạnh nhân của người Hoa?
…giống sầu riêng Mon Thong chiếm 50% diện tích trồng sầu riêng tại Việt Nam?
…Nga đã bị loại khỏi Hội đồng Nhân quyền Liên Hợp Quốc sau thảm sát Bucha?
…mặc dù được sản xuất tại Nhật Bản, thế nhưng mãi đến khi thế hệ thứ hai ra mắt thì Lexus LM mới được phân phối ở thị trường nước này?
Từ những bài viết mới của Wikipedia

Lưu trữ
Bắt đầu viết bài mới
Cập nhật
Ngày này năm xưa

10 tháng 12: Ngày Nhân quyền Quốc tế, ngày Hiến pháp tại Thái Lan; ngày Alfred Nobel tại Thụy Điển.

1427 – Quân Lam Sơn và quân Minh tổ chức Hội thề Đông Quan, tái lập nước Đại Việt.
1898 – Chiến tranh Tây Ban Nha–Mỹ chính thức kết thúc bằng Hiệp ước Paris (hình), Tây Ban Nha giao Cuba, nhượng Guam, Philippines, và Puerto Rico cho Hoa Kỳ.
1901 – Các Giải Nobel được trao lần đầu tiên, đúng 5 năm sau cái chết của nhà sáng lập giải thưởng là nhà hóa học người Thụy Điển Alfred Nobel.
1941 – Chiến tranh thế giới thứ hai: Quân Nhật đánh chìm hai tàu chiến Anh HMS Prince of Wales và HMS Repulse gần bờ biển Mã Lai.
1982 – Công ước Liên Hiệp Quốc về Luật biển được ký kết tại Jamaica sau mười năm thương thảo.
Lưu trữ
Cập nhật
Danh sách ngày kỷ niệm lịch sử
Các lĩnh vực
Khoa học tự nhiên
Địa chất học Địa lý học Hóa học Khoa học máy tính Logic Sinh học Thiên văn học Toán học Vật lý học Y học
Khoa học xã hội
Chính trị học Giáo dục Kinh tế học Lịch sử Luật pháp Ngôn ngữ học Nhân chủng học Tâm lý học Thần học Triết học Xã hội học
Kỹ thuật
Công nghiệp Cơ học Điện tử học Giao thông Kiến trúc Năng lượng Người máy Nông nghiệp Quân sự Y tế
Văn hóa
Âm nhạc Chính trị Du lịch Điện ảnh Giải trí Vũ đạo Nghệ thuật Phong tục tập quán Thần thoại Thể thao Thời trang Tôn giáo Văn học
Danh sách cổng thông tin
Dự án Wikipedia
Cải thiện nội dung
43 bài
chất lượng kém
352 bài
chưa rõ độ nổi bật
459 bài
lỗi thời
3.451 bài
cần wiki hóa
98 bài
có nghiên cứu chưa công bố
47.656 bài
hỏng liên kết
61 bài
cần hợp nhất
325 bài
cần sửa văn phong
Tham gia Wikipedia
Wikipedia là dự án bách khoa toàn thư mở, đa ngôn ngữ mà mọi người đều có thể tham gia đóng góp. Mục tiêu của Wikipedia là xây dựng một bách khoa toàn thư hoàn chỉnh, chính xác và trung lập.

Sự phát triển của Wikipedia tiếng Việt phụ thuộc vào sự tham gia của bạn. Dù là tạo một bài mới, thêm nội dung, sửa lỗi chính tả hay bổ sung hình ảnh minh họa, thì bạn cũng đã góp phần xây dựng để Wikipedia tiếng Việt ngày một phát triển.

Tham gia
Quản lý Wikipedia
Liên hệ bảo quản viên

Đây là Wikipedia phiên bản tiếng Việt. Hiện nay, Wikipedia còn có nhiều phiên bản ngôn ngữ khác, dưới đây là các phiên bản ngôn ngữ lớn nhất.
1.000.000+ bài
Anh (English) Ả Rập (‮العربية‬) Ba Lan (Polski) Bồ Đào Nha (Português) Đức (Deutsch) Hà Lan (Nederlands) Nga (Русский) Nhật (日本語) Pháp (Français) Tây Ban Nha (Español) Thụy Điển (Svenska) Trung (中文) Ukraina (Українська) Việt Ý (Italiano)
250.000+ bài
Ba Tư (فارسی) Basque (Euskara) Bulgaria (Български) Catalunya (Català) Đan Mạch (Dansk) Hàn (한국어) Hebrew (עברית) Hungary (Magyar) Indonesia (Bahasa Indonesia) Malaysia (Bahasa Melayu) Mân Nam (Bân-lâm-gú) Na Uy (Bokmål) Phần Lan (Suomi) Quốc tế ngữ (Esperanto) România (Română) Séc (Česky) Serbia (Српски) Serbia-Croatia (Srpskohrvatski) Thổ Nhĩ Kỳ (Türkçe)
50.000+ bài
Anh đơn giản (Simple English) Albania (Shqip) Asturias (Asturianu) Bosnia (Bosanski) Croatia (Hrvatski) Estonia (Eesti) Galicia (Galego) Hy Lạp (Ελληνικά) Latvia (Latviešu) Litva (Lietuvių) Macedonia (Македонски) Malayalam (മലയാളം) Na Uy (Nynorsk) Slovak (Slovenčina) Slovenia (Slovenščina) Thái (ไทย)

Wikipedia trực thuộc Wikimedia Foundation, một tổ chức phi lợi nhuận cũng đồng thời điều hành nhiều dự án khác. Các dự án này hoặc là đa ngôn ngữ hoặc đã có phiên bản tiếng Việt.

Wikibooks
Tủ sách giáo khoa mở

Wikinews Beta
Nguồn tin tức mở

Wikiquote
Bộ sưu tập danh ngôn

Wikisource
Văn thư lưu trữ mở

Wiktionary
Từ điển mở

Wikivoyage
Cẩm nang du lịch mở

Commons
Kho tư liệu chung

Wikispecies
Danh mục các loài

Wikiversity Beta
Học liệu mở

Wikidata
Cơ sở kiến thức chung

MediaWiki
Phần mềm wiki

Meta-Wiki
Cộng đồng Wikimedia

47 ngôn ngữ
Văn bản được phát hành theo Giấy phép Creative Commons Ghi công–Chia sẻ tương tự; có thể áp dụng điều khoản bổ sung. Với việc sử dụng trang web này, bạn chấp nhận Điều khoản Sử dụng và Quy định quyền riêng tư. Wikipedia® là thương hiệu đã đăng ký của Wikimedia Foundation, Inc., một tổ chức phi lợi nhuận.</p>
  </body>
</html>